extends ../base

block head
	script(src='https://use.fontawesome.com/feea410c25.js')

	style.
		a {
			color: #258fb8;
		}

		a:hover {
			color: #258fb8;
		}

		.tag-cloud {
			font-size: 1rem;
			line-height: 1.7;
			margin: 0;
			word-break: break-all;
		}

		.tag-cloud span {
			display: inline;
			font-size: 100%;
			margin: 0;
			padding: 0 2px;
		}

		.tag-cloud span a .count {
			font-size: 10px;
			color: #999;
		}

		.tag-cloud span a:visited {
			color: #969;
			text-decoration: none;
		}

		.tag-cloud span a:hover {
			background-color: #3e5b71;
			color: white;
			text-decoration: none;
		}

		.image-tag {
			background-color: #f2f4f6;
			border: 0;
		}

		.image-tag div span a i {
			color: #b8d5e5;
		}

		.image-tag div span a:hover i {
			color: #258FB8;
		}

		.sibling {
			background-color: #f2f4f6;
			border: 0;
		}

		.sibling .caret {
			color: #becad7;
		}

		.sibling .title {
			margin: 0 0.4rem;
		}

block main
	div.container
		div.row
			div.col-md-3.mt-4
				div.card
					if artist.avatar
						img.card-img-top.w-100.hidden-sm-down(src='/upload/images/' + artist.avatar.name_local)
					div.card-block.p-2
						h4.card-title.text-center
							a(href='/artists/' + artist._id)= artist.name
						p.card-text= artist.intro
						a.btn.btn-primary.small(href='/artists/editor?for=' + artist._id) Edit Profile
				div.card.mt-4
					div.card-header.py-1.px-2.small Keywords
					div.card-block.p-2
						div#cont_keywords.card-text.tag-cloud
			div.col-md-9.mt-4
				div.card.mb-3.sibling
					div.card-block.px-2.py-0
						div#cont_siblings.row(style='min-height: 64px')
							//- div.col-lg-5.col-md-6.text-right.small(style='height: 60px')
							//- 	|	&#9666;
							//- 	|	橘ありすとバックエロ
							//- 	img(src='/upload/images/' + image.name_local, style='height: 60px')
							//- div.col-lg-2.text-center.hidden-md-down.d-flex.align-items-center.justify-content-center
							//- 	a(href='/artists/' + artist._id)= artist.name
							//- div.col-lg-5.col-md-6.text-left.small(style='height: 60px')
							//- 	img(src='/upload/images/' + image.name_local, style='height: 60px')
							//- 	|	橘ありすとバックエロ
							//- 	|	&#9656;

				h6.small.text-muted #{image.date} | #{image.width}x#{image.height} | #{image.format}
				h2.h4 #{image.name_original} #[small.text-muted.hidden-xs-down - #{image._id}]
				
				div.card.my-3.image-tag
					div.card-block.p-2
						for word in image.keywords
							span.px-1 #[a(href='/artists/' + artist._id + '?keywords=' + word) #[i.fa.fa-tag] #{word}]
				
				img.img-fluid.d-block.mx-auto(src='/upload/images/' + image.name_local, style='max-height: 600px')

block foot
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.0-rc.70/jsrender.min.js')

	script#tmpl_keywords(type='text/x-jsrender')
		span #[a(href='/artists/' + artist._id + '?keywords={{: name}}') #{'{{: name}}'}#[span.count (#{'{{: count}}'})]]

	script#tmpl_siblings(type='text/x-jsrender')
		div.col-lg-5.col-md-6.text-right.small
			a(href='/images/{{: siblings[0]._id}}')
				i.fa.fa-caret-left.caret
				span.title #{'{{: siblings[0].keywords.join(\' \')}}'}
				img.height-64(src='/upload/images/{{: siblings[0].name_local}}')
		div.col-lg-2.m-0.p-0.text-center.hidden-md-down.d-flex.align-items-center.justify-content-center
			a(href='/artists/' + artist._id)= artist.name
		div.col-lg-5.col-md-6.text-left.small
			a(href='/images/{{: siblings[1]._id}}')
				img.height-64(src='/upload/images/{{: siblings[1].name_local}}')
				span.title #{'{{: siblings[1].keywords.join(\' \')}}'}
				i.fa.fa-caret-right.caret
	
	script.
		$tmpl_keywords = $.templates('#tmpl_keywords');
		$cont_keywords = $('#cont_keywords');

		$tmpl_siblings = $.templates('#tmpl_siblings');
		$cont_siblings = $('#cont_siblings');

		$(function () {
			$.getJSON('/api/images/keywords', {
				query: {
					artist: '#{artist._id}'
				}
			}).then(docs => {
				console.log(docs);
				$($tmpl_keywords.render(docs)).appendTo($cont_keywords);
			});

			$.getJSON('/api/images/siblings', {
				query: {
					name_original: '#{image.name_original}'
				}
			}).then(docs => {
				console.log(docs);
				$($tmpl_siblings.render({
					siblings: docs
				})).appendTo($cont_siblings);
			});
		});
