doctype html

html(lang='en')
	head
		title #{title} &bull; THLIVE

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		//- script(src='https://use.fontawesome.com/feea410c25.js')

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/base.css')

		block head

	body
		nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-inverse(style=section=='cards'&&'background-color: #e10b80')
			div.container
				a.navbar-brand(href='/') THLIVE
				
				div#navbar.collapse.navbar-collapse
					div.navbar-nav
						a.nav-item.nav-link(href='/users', class=section=='artists'&&'active') Users
						a.nav-item.nav-link(href='/images', class=section=='images'&&'active') Images
						a.nav-item.nav-link(href='/cards', class=section=='cards'&&'active') Cards

			button.navbar-toggler.navbar-toggler-right(data-toggle='collapse', data-target='#navbar')
				span.navbar-toggler-icon
					
			if mortal
				a.navbar-text.hidden-sm-down(href='/users/' + mortal._id) #{mortal.name}
			else
				a.btn.btn-sm.btn-outline-success.hidden-sm-down(href='/login') Login

		block main

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')

		block foot