doctype html

html(lang='en')
	head
		title #{title} &bull; THLIVE

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		//- script(src='/vendor/fontawesome/feea410c25.js')

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/base.css')

		block head

	body
		nav.navbar.navbar-toggleable-sm.navbar-inverse(style='background-color:' + (originalUrl.includes('cards') ? '#e10b80' : '#292b2c'))
			div.container
				a.navbar-brand(href='/') THLIVE
				
				div#navbar.collapse.navbar-collapse
					div.navbar-nav
						a.nav-item.nav-link(href='/users', class=originalUrl.includes('users') && 'active') Friends
						a.nav-item.nav-link(href='/tags', class=originalUrl.includes('tags') && 'active') Tags
						a.nav-item.nav-link(href='/images', class=originalUrl.includes('images') && 'active') Images
						a.nav-item.nav-link(href='/cards', class=originalUrl.includes('cards') && 'active') Cards
						a.nav-item.nav-link(href='/review', class=originalUrl.includes('review') && 'active') Review

			button.navbar-toggler.navbar-toggler-right(data-toggle='collapse', data-target='#navbar')
				span.navbar-toggler-icon
					
			if mortal
				a.navbar-text.hidden-sm-down(href=mortal.url) #{mortal.name}
			else
				a.btn.btn-sm.btn-outline-success.hidden-sm-down(href='/login') Login

		block main

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')

		block foot