extends layout

block include_js
  script(src='/js/lib/validator.min.js')
  script(src='/js/cardEditor.js')

block content
  h1= title

  form(method='POST', action='')
    div.row
      //- character --------------------------------------------------------------------------------------------------------------------
      div.col-sm-6
        div#character_group.form-group(oninput='onCharacterChange()')
          label.control-label Character ID:
          input#character.form-control(type='text', placeholder='59315799f1e2161c50218655', name='character', value=body.character, autocomplete='off')
        div.form-group(oninput='onCharacterParamChange()')
          label.control-label Rarity:
          select#rarity.form-control(name='rarity')
            option(value='N', selected=(body.rarity=='N')) N
            option(value='R', selected=(body.rarity=='R')) R
            option(value='SR', selected=(body.rarity=='SR')) SR
            option(value='UR', selected=(body.rarity=='UR')) UR
        div.form-group(oninput='onCharacterParamChange()')
          label.control-label Attribute:
          select#attribute.form-control(name='attribute')
            option(value='Haru', selected=(body.attribute=='Haru')) 春
            option(value='Rei', selected=(body.attribute=='Rei')) 灵
            option(value='Ma', selected=(body.attribute=='Ma')) 魔
        div.form-group
          a.btn.btn-primary(onclick='generateParameters()') Generate Parameters from Rarity and Attribute
          span.help-block Generate normally-distributed random values
      //- parameters --------------------------------------------------------------------------------------------------------------------
      div.col-sm-6(oninput='onParameterChange()')
        div#sp-group.row
          div.col-sm-6
            div#sp_init_group.form-group
              label.control-label Initial SP:
              input#sp_init.form-control(type='number', placeholder='1', name='sp_init', value=body.sp_init||'1', min='1', max='4')
          div.col-sm-6
            div#sp_max_group.form-group
              label.control-label Max SP:
              input#sp_max.form-control(type='number', placeholder='1', name='sp_max', value=body.sp_max||'1', min='1', max='4')
        div.row
          div.col-sm-6
            div#haru_init_group.form-group
              label.control-label Initial Haru:
              input#haru_init.form-control(type='number', placeholder='200', name='haru_init', value=body.haru_init, min='200', max='3900')
          div.col-sm-6
            div#haru_max_group.form-group
              label.control-label Max Haru:
              input#haru_max.form-control(type='number', placeholder='400', name='haru_max', value=body.haru_max, min='400', max='5400')
        div.row
          div.col-sm-6
            div#rei_init_group.form-group
              label.control-label Initial Rei:
              input#rei_init.form-control(type='number', placeholder='200', name='rei_init', value=body.rei_init, min='200', max='3900')
          div.col-sm-6  
            div#rei_max_group.form-group
              label.control-label Max Rei:
              input#rei_max.form-control(type='number', placeholder='400', name='rei_max', value=body.rei_max, min='400', max='5400')
        div.row
          div.col-sm-6
            div#ma_init_group.form-group
              label.control-label Initial Ma:
              input#ma_init.form-control(type='number', placeholder='200', name='ma_init', value=body.ma_init, min='200', max='3900')
          div.col-sm-6
            div#ma_max_group.form-group
              label.control-label Max Ma:
              input#ma_max.form-control(type='number', placeholder='400', name='ma_max', value=body.ma_max, min='400', max='5400')

    hr

    div.row
      //- portrait --------------------------------------------------------------------------------------------------------------------
      div.col-sm-6
        label.control-label Portrait
        div#portrait_group.form-group(oninput='onPortraitChange()')
          label.control-label Image ID:
          input#portrait.form-control(type='text', placeholder='59313f9bed9d871458b7a4ea', name='portrait', value=body.portrait)
        div.row(oninput='onPortraitParamChange()')
          div.col-sm-6
            div.form-group
              label.control-label Position x:
              input#portrait_x.form-control(type='number', placeholder='0', name='portrait_x', value=body.portrait_x||'0')
          div.col-sm-6
            div.form-group
              label.control-label Position y:
              input#portrait_y.form-control(type='number', placeholder='0', name='portrait_y', value=body.portrait_y||'0')
        div.row(oninput='onPortraitParamChange()')
          div.col-sm-6
            div.form-group
              label.control-label Rotation:
              input#portrait_rotation.form-control(type='number', placeholder='0', name='portrait_rotation', value=body.portrait_rotation||'0')
          div.col-sm-6
            div.form-group
              label.control-label Scale:
              input#portrait_scale.form-control(type='number', placeholder='100', name='portrait_scale', value=body.portrait_scale||'100')
      //- background --------------------------------------------------------------------------------------------------------------------
      div.col-sm-6
        label.control-label Background
        div#background_group.form-group(oninput='onBackgroundChange()')
          label.control-label Image ID:
          input#background.form-control(type='text', placeholder='59313f9bed9d871458b7a4ea', name='background', value=body.background)
        div.row(oninput='onBackgroundParamChange()')
          div.col-sm-6
            div.form-group
              label.control-label Position x:
              input#background_x.form-control(type='number', placeholder='0', name='background_x', value=body.background_x||'0')
          div.col-sm-6
            div.form-group
              label.control-label Position y:
              input#background_y.form-control(type='number', placeholder='0', name='background_y', value=body.background_y||'0')
        div.row(oninput='onBackgroundParamChange()')
          div.col-sm-6
            div.form-group
              label.control-label Rotation:
              input#background_rotation.form-control(type='number', placeholder='0', name='background_rotation', value=body.background_rotation||'0')
          div.col-sm-6
            div.form-group
              label.control-label Scale:
              input#background_scale.form-control(type='number', placeholder='100', name='background_scale', value=body.background_scale||'100')

    hr

    //- card --------------------------------------------------------------------------------------------------------------------
    div.shadow-card.size-card
      div.abs.size-card(style='clip-path: inset(0 0 0 0)')
        img.abs.size-card(src='/img/card-canvas.png')

        div.bg_pos.abs.size-card
          div.bg_rot.abs.size-card.origin
            img.bg_img.height-full(src='')

        div.pt_pos.abs.size-card
          div.pt_rot.abs.size-card.origin
            img.pt_img.height-full(src='')

        img.co_img.abs.size-card(src='')

        div.abs(style='transform: translate(39px, 120px)')
          div.abs.origin(style='transform: rotate(-90deg)')
            h2.ch_h.abs.outline-1(style='color: white; white-space: nowrap; right: 0; margin: 0')

    hr

    div.row
      //- idolized portrait --------------------------------------------------------------------------------------------------------------------
      div.col-sm-6
        label.control-label Idolized Portrait
        div#portrait_idolized_group.form-group(oninput='onIdolizedPortraitChange()')
          label.control-label Image ID:
          input#portrait_idolized.form-control(type='text', placeholder='59313f9bed9d871458b7a4ea', name='portrait_idolized', value=body.portrait_idolized)
        div.row(oninput='onIdolizedPortraitParamChange()')
          div.col-sm-6
            div.form-group
              label.control-label Position x:
              input#portrait_idolized_x.form-control(type='number', placeholder='0', name='portrait_idolized_x', value=body.portrait_idolized_x||'0')
          div.col-sm-6
            div.form-group
              label.control-label Position y:
              input#portrait_idolized_y.form-control(type='number', placeholder='0', name='portrait_idolized_y', value=body.portrait_idolized_y||'0')
        div.row(oninput='onIdolizedPortraitParamChange()')
          div.col-sm-6
            div.form-group
              label.control-label Rotation:
              input#portrait_idolized_rotation.form-control(type='number', placeholder='0', name='portrait_idolized_rotation', value=body.portrait_idolized_rotation||'0')
          div.col-sm-6
            div.form-group
              label.control-label Scale:
              input#portrait_idolized_scale.form-control(type='number', placeholder='100', name='portrait_idolized_scale', value=body.portrait_idolized_scale||'100')
      //- idolized background --------------------------------------------------------------------------------------------------------------------
      div.col-sm-6
        label.control-label Idolized Background
        div#background_idolized_group.form-group(oninput='onIdolizedBackgroundChange()')
          label.control-label Image ID:
          input#background_idolized.form-control(type='text', placeholder='59313f9bed9d871458b7a4ea', name='background_idolized', value=body.background_idolized)
        div.row(oninput='onIdolizedBackgroundParamChange()')
          div.col-sm-6
            div.form-group
              label.control-label Position x:
              input#background_idolized_x.form-control(type='number', placeholder='0', name='background_idolized_x', value=body.background_idolized_x||'0')
          div.col-sm-6
            div.form-group
              label.control-label Position y:
              input#background_idolized_y.form-control(type='number', placeholder='0', name='background_idolized_y', value=body.background_idolized_y||'0')
        div.row(oninput='onIdolizedBackgroundParamChange()')
          div.col-sm-6
            div.form-group
              label.control-label Rotation:
              input#background_idolized_rotation.form-control(type='number', placeholder='0', name='background_idolized_rotation', value=body.background_idolized_rotation||'0')
          div.col-sm-6
            div.form-group
              label.control-label Scale:
              input#background_idolized_scale.form-control(type='number', placeholder='100', name='background_idolized_scale', value=body.background_idolized_scale||'100')

    hr

    //- idolized card --------------------------------------------------------------------------------------------------------------------
    div.shadow-card.size-card
      div.abs.size-card(style='clip-path: inset(0 0 0 0)')
        img.abs.size-card(src='/img/card-canvas.png')

        div.bg_id_pos.abs.size-card
          div.bg_id_rot.abs.size-card.origin
            img.bg_id_img.height-full(src='')

        div.pt_id_pos.abs.size-card
          div.pt_id_rot.abs.size-card.origin
            img.pt_id_img.height-full(src='')

        img.co_img.abs.size-card(src='')

        div.abs(style='transform: translate(39px, 120px)')
          div.abs.origin(style='transform: rotate(-90deg)')
            h2.ch_h.abs.outline-1(style='color: white; white-space: nowrap; right: 0; margin: 0')

    hr

    div.row
      //- icon --------------------------------------------------------------------------------------------------------------------
      div.col-sm-6(oninput='onIconParamChange()')
        label.control-label Icon
        div.row
          div.col-sm-6
            div.form-group
              label.control-label Position x:
              input#icon_x.form-control(type='number', placeholder='0', name='icon_x', value=body.icon_x||'0')
          div.col-sm-6
            div.form-group
              label.control-label Position y:
              input#icon_y.form-control(type='number', placeholder='0', name='icon_y', value=body.icon_y||'0')
        div.row
          div.col-sm-12
            div.form-group
              label.control-label Rotation:
              input#icon_rotation.form-control(type='number', placeholder='0', name='icon_rotation', value=body.icon_rotation||'0')
          div.col-sm-12
            div.form-group
              label.control-label Scale:
              input#icon_scale.form-control(type='number', placeholder='100', name='icon_scale', value=body.icon_scale||'100')
      //- idolized icon --------------------------------------------------------------------------------------------------------------------
      div.col-sm-6(oninput='onIdolizedIconParamChange()')
        label.control-label Idolized Icon
        div.row
          div.col-sm-6
            div.form-group
              label.control-label Position x:
              input#icon_idolized_x.form-control(type='number', placeholder='0', name='icon_idolized_x', value=body.icon_idolized_x||'0')
          div.col-sm-6
            div.form-group
              label.control-label Position y:
              input#icon_idolized_y.form-control(type='number', placeholder='0', name='icon_idolized_y', value=body.icon_idolized_y||'0')
        div.row
          div.col-sm-12
            div.form-group
              label.control-label Rotation:
              input#icon_idolized_rotation.form-control(type='number', placeholder='0', name='icon_idolized_rotation', value=body.icon_idolized_rotation||'0')
          div.col-sm-12
            div.form-group
              label.control-label Scale:
              input#icon_idolized_scale.form-control(type='number', placeholder='100', name='icon_idolized_scale', value=body.icon_idolized_scale||'100')

    hr

    div.row
      div.col-md-6
        //- icon --------------------------------------------------------------------------------------------------------------------
        div.size-icon
          div.abs.size-icon(style='clip-path: circle(120px at center)')
            img.abs.size-card(src='/img/card-canvas.png')

            div#ic_pos.abs.size-card
              div#ic_rot.abs.size-card.origin
                div#ic_scl.abs.size-card.origin
                  div.bg_pos.abs.size-card
                    div.bg_rot.abs.size-card.origin
                      img.bg_img.height-full(src='')

                  div.pt_pos.abs.size-card
                    div.pt_rot.abs.size-card.origin
                      img.pt_img.height-full(src='')
            
          img.io_img.abs.size-icon(src='')
      div.col-md-6
        //- idolized icon --------------------------------------------------------------------------------------------------------------------
        div.size-icon
          div.abs.size-icon(style='clip-path: circle(120px at center)')
            img.abs.size-card(src='/img/card-canvas.png')

            div#ic_id_pos.abs.size-card
              div#ic_id_rot.abs.size-card.origin
                div#ic_id_scl.abs.size-card.origin
                  div.bg_id_pos.abs.size-card
                    div.bg_id_rot.abs.size-card.origin
                      img.bg_id_img.height-full(src='')

                  div.pt_id_pos.abs.size-card
                    div.pt_id_rot.abs.size-card.origin
                      img.pt_id_img.height-full(src='')
            
          img.io_img.abs.size-icon(src='')
    hr

    div.btn-toolbar
      button.btn.btn-primary(type='submit', formaction='/cards/add') Save
      button.btn.btn-danger(type='submit', formaction='/cards/add') Submit for Review

    br

    ul
      li #[mark Boring] cards #[strong will not be accepted]
      li Cards with #[mark wrong icon placement] #[strong will not be accepted]
      li Cards with #[mark transparent background] #[strong will not be accepted]
      li Cards with #[mark wrong character assignment] #[strong will not be accepted]
      li #[mark Duplicated] cards, unless #[mark intentionally done], #[strong will not be accepted]
      li Cards with #[mark same image for both non-idolized and idolized character] #[strong will not be accepted]