mixin alert_success(title, message)
  div.alert.alert-success
    span.glyphicon.glyphicon-flag
    if title
      |  #[strong #{title}:] #{message}
    else
      |  #{message}

mixin alert_info(title, message)
  div.alert.alert-info
    span.glyphicon.glyphicon-education
    if title
      |  #[strong #{title}:] #{message}
    else
      |  #{message}

mixin alert_warning(title, message)
  div.alert.alert-warning
    span.glyphicon.glyphicon-alert
    if title
      |  #[strong #{title}:] #{message}
    else
      |  #{message}

mixin alert_danger(title, message)
  div.alert.alert-danger
    span.glyphicon.glyphicon-exclamation-sign
    if title
      |  #[strong #{title}:] #{message}
    else
      |  #{message}

mixin error_alert(error)
  if error
      if error.msg
        +alert_danger('Error', error.msg)
      else
        +alert_danger(error.name, error.message)

mixin error_section(hr_top, hr_bottom)
  if error || errors
    if hr_top
      hr
    div.error_section
      +error_alert(error)
      if errors
        for error in errors
          +error_alert(error)
    if hr_bottom
      hr

mixin pager(btn_pre, btn_next)
  nav
    ul.pager
      if btn_pre
        li.previous 
          a(href='?'+pre) #[span ←] Preivous
      if btn_next
        li.next 
          a(href='?'+next) Next #[span →]

mixin commenting(topic)
  if comments && comments[0]
    hr

    ul.media-list
      for comment in comments
        li.media
          div.media-body
            h4.media-heading #[a(href=comment.user.url_detail) #{comment.user.name}] at #[small #{comment.date}]
            div!= comment.html
  
  if mortal
    hr

    div.row
      div.col-md-6
        form(method='post', action='/comments/add')
          div.form-group
            div.input-group
              span.input-group-addon Topic ID
              input.form-control(type='text', name='topic', value=topic, readonly)
          div.form-group
            textarea#markdown.form-control(name='markdown', style='max-width: 100%', oninput='onContentChange()')
          div.form-group
            div.btn-toolbar
              button.btn.btn-primary(type='submit') Post
              a.btn.btn-default(href='https://guides.github.com/features/mastering-markdown/', rel="noopener noreferrer" target="_blank") Markdown Guild
      div.col-md-6
        div.media
          div.media-body
            h4.media-heading #[a(href=mortal.url_detail) #{mortal.name}] at #[small #{(new Date()).toString()}]
            div#preview

  link(rel='stylesheet', href='/css/hljs/monokai-sublime.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
  script(src='/js/lib/marked.min.js')
  script(src='/js/comment-editor.js')