extends layout

block content
  h1= title

  if user
    p You #[strong are] #[mark #{user.name}].

  ul
  each user in users
    li
      a(href=user.url_detail) #{user.name}
      |  (#{user.salt.substring(0,7)}) #{user.reputation} REP
