extends ../base

include ../mixin/user

block include
	link(rel='stylesheet', href='/css/user.css')


block main
	-
		var day = 1000 * 60 * 60 * 24;
		var now = Date.now();
		var week = new Date(now - day * 7), 
			month = new Date(now - day * 30), 
			quarter = new Date(now - day * 90), 
			year = new Date(now - day * 360);
			all = new Date(0);

	br

	div.container
		h2.h5.abs.font-weight-normal.hidden-sm-down Users
		nav#sort.nav.nav-tabs.justify-content-end.small
			a.nav-item.nav-link(href='javascript:void(0);', data-sort='-reputation').active reputation
			a.nav-item.nav-link(href='javascript:void(0);', data-sort='-date_joined').hidden-sm-down new users
			a.nav-item.nav-link(href='javascript:void(0);', data-sort='-vote') voters
			a.nav-item.nav-link(href='javascript:void(0);', data-sort='-edit') editors

		div.row.mt-3.align-items-center
			div.col-sm-6
				div.form-inline
					div.input-group.input-group-sm
						div.input-group-addon Find
						input#find.form-control(type='text')
			div.col-sm-6.hidden-sm-down
				nav#range.nav.nav-pills.justify-content-end.small
					a.nav-item.nav-link(href='javascript:void(0);', data-range=week) week
					a.nav-item.nav-link(href='javascript:void(0);', data-range=month) month
					a.nav-item.nav-link(href='javascript:void(0);', data-range=quarter) quarter
					a.nav-item.nav-link(href='javascript:void(0);', data-range=year) year
					a.nav-item.nav-link(href='javascript:void(0);', data-range=all).active all

		br

		div.row
			for user in users
				div.col-md-3.mb-2
					+user_item(user)


block script
	script.
		var $find = $('#find');
		var $sort = $('#sort');
		var $range = $('#range');

		var sort = '-reputation', range = new Date(0);

		$sort.on('click', function (event) {
			var $target = $(event.target);
			if ($target.hasClass('active')) return;

			$sort.find('a').removeClass('active');

			$target.addClass('active');

			sort = $target.data('sort');
			console.log(sort);
			list();
		});

		$range.on('click', function (event) {
			$range.find('a').removeClass('active');

			var $target = $(event.target);
			$target.addClass('active');

			console.log($target.data('range'));
			list();
		});

		$find.on('input', function (event) {
			var value = $find.val();
			setTimeout(function () {
				if ($find.val() == value) list();
			}, 600);
		});

		var list = function () {
			var find = $find.val();
			console.log(find);

			var query = {
				date_joined: { $gt: range.getTime() }
			};
			if (find) {
				query.$text = {
					$search: find
				};
			}

			$.getJSON('/api/query', { query: query, sort: sort, populate: 'avatar' }, function (result) {
				console.log(result);
			});
		};
