extends ../layout

include ../mixins

mixin card()
  if (card.background)
    div.bg_pos.abs.size-card(style=`transform: translate(${card.background_x}%, ${card.background_y}%)`)
      div.bg_rot.abs.size-card.origin(style=`transform: rotate(${card.background_rotation}deg)`)
        img.bg_img.height-full(style=`height: ${card.background_scale}%`, src=card.background.url_src)

  div.pt_pos.abs.size-card(style=`transform: translate(${card.portrait_x}%, ${card.portrait_y}%)`)
    div.pt_rot.abs.size-card.origin(style=`transform: rotate(${card.portrait_rotation}deg)`)
      img.pt_img.height-full(style=`height: ${card.portrait_scale}%`, src=card.portrait.url_src)

mixin card_idolized()
  if (card.background_idolized)
    div.bg_pos.abs.size-card(style=`transform: translate(${card.background_idolized_x}%, ${card.background_idolized_y}%)`)
      div.bg_rot.abs.size-card.origin(style=`transform: rotate(${card.background_idolized_rotation}deg)`)
        img.bg_img.height-full(style=`height: ${card.background_idolized_scale}%`, src=card.background_idolized.url_src)

  div.pt_pos.abs.size-card(style=`transform: translate(${card.portrait_idolized_x}%, ${card.portrait_idolized_y}%)`)
    div.pt_rot.abs.size-card.origin(style=`transform: rotate(${card.portrait_idolized_rotation}deg)`)
      img.pt_img.height-full(style=`height: ${card.portrait_idolized_scale}%`, src=card.portrait_idolized.url_src)

block content
  if card.status == 'Suspended'
    +alert_warning(card.status, 'This card is suspended for reviewing from ' + card.date)
  else if card.status == 'Accepted'
    +alert_success(card.status, 'This card is accepted for circulation at ' + card.date_review)
  else if card.status == 'Rejected'
    +alert_danger(card.status, 'This card is rejected from circulation at ' + card.date_review)
  else if card.status == 'Deprecated'
    +alert_danger(card.status, 'This card is deprecated for circulation from ' + card.date_deprecate)

  div.row
    //- card --------------------------------------------------------------------------------------------------------------------
    div.col-md-6
      div.shadow-card.size-card
        div.abs.size-card(style='clip-path: inset(0 0 0 0)')
          +card()

          img.co_img.abs.size-card(src=`/img/card-overlay-${card.rarity.toLowerCase()}-${card.attribute.toLowerCase()}.png`)

          div.abs(style='transform: translate(39px, 120px)')
            div.abs.origin(style='transform: rotate(-90deg)')
              h2.ch_h.abs.outline-1(style='color: white; white-space: nowrap; right: 0; margin: 0')= card.character.name_en.toUpperCase()

    div.col-md-6
      div.shadow-card.size-card(style='left: auto; right: 0')
        div.abs.size-card(style='clip-path: inset(0 0 0 0)')
          +card_idolized()

          img.co_img.abs.size-card(src=`/img/card-overlay-${card.rarity.toLowerCase()}-${card.attribute.toLowerCase()}.png`)

          div.abs(style='transform: translate(39px, 120px)')
            div.abs.origin(style='transform: rotate(-90deg)')
              h2.ch_h.abs.outline-1(style='color: white; white-space: nowrap; right: 0; margin: 0')= card.character.name_en.toUpperCase()

  hr

  h1 #{card.character.name_en} - #[mark #{card.rarity}] - #[strong #{card.attribute}] #[small by #{card.editor.name}]
  p at #[em #{card.date}]
  if card.parent
    p based on #[a(href='/cards/' + card.parent) card.parent]

  hr

  div.row
    div.col-sm-6
      div.row
        div.col-sm-3
          p(style='color: #e6006f')= card.haru_init
        div.col-sm-9
          div.progress
            div.progress-bar.progress-bar-striped.active(style=`background-color: #e6006f; width: ${card.haru_init / 5400.0 * 100}%`)
      div.row
        div.col-sm-3
          p(style='color: #20ab53')= card.rei_init
        div.col-sm-9
          div.progress
            div.progress-bar.progress-bar-striped.active(style=`background-color: #20ab53; width: ${card.rei_init / 5400.0 * 100}%`)
      div.row
        div.col-sm-3
          p(style='color: #0098eb')= card.ma_init
        div.col-sm-9
          div.progress
            div.progress-bar.progress-bar-striped.active(style=`background-color: #0098eb; width: ${card.ma_init / 5400.0 * 100}%`)
      div.row
        div.col-sm-3
          p SP
        div.col-sm-9
          p= card.sp_init
    div.col-sm-6
      div.row
        div.col-sm-3
          p(style='color: #e6006f')= card.haru_max
        div.col-sm-9
          div.progress
            div.progress-bar.progress-bar-striped.active(style=`background-color: #e6006f; width: ${card.haru_max / 5400.0 * 100}%`)
      div.row
        div.col-sm-3
          p(style='color: #20ab53')= card.rei_max
        div.col-sm-9
          div.progress
            div.progress-bar.progress-bar-striped.active(style=`background-color: #20ab53; width: ${card.rei_max / 5400.0 * 100}%`)
      div.row
        div.col-sm-3
          p(style='color: #0098eb')= card.ma_max
        div.col-sm-9
          div.progress
            div.progress-bar.progress-bar-striped.active(style=`background-color: #0098eb; width: ${card.ma_max / 5400.0 * 100}%`)
      div.row
        div.col-sm-3
          p SP
        div.col-sm-9
          p= card.sp_max

  hr

  div.row
    div.col-sm-6
      //- icon --------------------------------------------------------------------------------------------------------------------
      div.size-icon
        div.abs.size-icon(style='clip-path: circle(120px at center)')
          div#ic_pos.abs.size-card(style=`transform: translate(${card.icon_x}%, ${card.icon_y}%)`)
            div#ic_rot.abs.size-card.origin(style=`transform: rotate(${card.icon_rotation}deg)`)
              div#ic_scl.abs.size-card.origin(style=`transform: scale(${card.icon_scale/100.0})`)
                +card()
          
        img.io_img.abs.size-icon(src=`/img/icon-overlay-${card.rarity.toLowerCase()}-${card.attribute.toLowerCase()}.png`)
    div.col-sm-6
      //- idolized icon --------------------------------------------------------------------------------------------------------------------
      div.size-icon
        div.abs.size-icon(style='clip-path: circle(120px at center)')
          div#ic_id_pos.abs.size-card(style=`transform: translate(${card.icon_idolized_x}%, ${card.icon_idolized_y}%)`)
            div#ic_id_rot.abs.size-card.origin(style=`transform: rotate(${card.icon_idolized_rotation}deg)`)
              div#ic_id_scl.abs.size-card.origin(style=`transform: scale(${card.icon_idolized_scale/100.0})`)
                +card_idolized()
          
        img.io_img.abs.size-icon(src=`/img/icon-overlay-${card.rarity.toLowerCase()}-${card.attribute.toLowerCase()}.png`)

  hr

  div.btn-toolbar
    a.btn.btn-primary(href='editor?base=' + card._id) Open for Edit

  hr

  +alert_warning('Suspended', 'This card is suspended for reviewing from ' + card.date)
  
  if card.status == 'Accepted' || card.status == 'Deprecated'
    +alert_success('Accepted', 'This card is accepted for circulation at ' + card.date_review)
  if card.status == 'Rejected'
    +alert_danger(card.status, 'This card is rejected from circulation at ' + card.date_review)
  
  if card.status == 'Deprecated'
    +alert_danger(card.status, 'This card is deprecated for circulation from ' + card.date_deprecate)

  if card.status != 'Suspended'
    dl.dl-horizontal
      dt Reviewer
      dd= card.reviewer
      dt Review
      dd= card.review
      dt Review Date
      dd= card.date_review

  +commenting(card._id)