extends ../layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label.control-label Chinese Name (Family Name + Given Name):
      input.form-control(type='text', placeholder='博丽灵梦' name='name_zh' value=body.name_zh)
    div.form-group
      label.control-label Japanese Name (Family Name + Full Space + Given Name):
      input.form-control(type='text', placeholder='博麗　霊夢' name='name_jp' value=body.name_jp)
    div.form-group
      label.control-label English Name (Given Name + Half Space + Family Name):
      input.form-control(type='text', placeholder='Reimu Hakurei' name='name_en' value=body.name_en)

    div.form-group
      label.control-label Age:
      input.form-control(type='text', placeholder='~16' name='age' value=body.age)
    div.form-group
      label.control-label Race:
      input.form-control(type='text', placeholder='人类' name='race' value=body.race)
    div.form-group
      label.control-label Skill:
      input.form-control(type='text', placeholder='主要拥有在空中飞翔程度的能力' name='skill' value=body.skill)

    button.btn.btn-primary(type='submit') Add