extends ../layout

block content
  h1= title

  a.btn.btn-primary(href='/characters/add') Add
  hr

  ul
    each character in characters
      li
        a(href=character.url_detail) #{character.name_jp}
        |  (#{character.name_en}) #[strong #{character.name_zh}] - #[mark #{character._id}]