extends ../base

block head
	style.
		.card-haru {
			color: #cd0063;
			background-color: #ffb3d8;
			border-color: #ff4da3;
		}

		.card-rei {
			color: #1c9649;
			background-color: #a8efc2;
			border-color: #52df86;
		}

		.card-ma {
			color: #0088d2;
			background-color: #b8e6ff;
			border-color: #52c2ff;
		}

		.card-haru .card-block {
			border-top: 1px solid #ff4da3;
		}

		.card-rei .card-block {
			border-top: 1px solid #52df86;
		}

		.card-ma .card-block {
			border-top: 1px solid #52c2ff;
		}

	script(src='https://use.fontawesome.com/feea410c25.js')

block main
	div.container-fluid.mt-3
		div.row#cont_card

block foot
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.0-rc.70/jsrender.min.js')

	script#tmpl_card(type='text/x-jsrender')
		div.col-lg-4.col-sm-6.mb-3
			div.card(class='card-{{: attribute.toLowerCase()}}')
				div.card-img-top(style='line-height: 0')
					a(href='/cards/{{: _id}}')
						svg.w-50.p-0.m-0(version='1.1', baseProfile='full', viewBox='0 0 512 720', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
							image(width='100%', height='100%', xlink:href='/img/card/card-canvas.png')

							image(
								width='{{: background.width * (720.0 / background.height)}}', 
								height='720', 
								transform='translate({{: background_x}} {{: background_y}}) rotate({{: background_rotation}}) scale({{: background_scale}})', 
								xlink:href='/upload/images/{{: background.name_local}}')
							image(
								width='{{: portrait.width * (720.0 / portrait.height)}}', 
								height='720', 
								transform='translate({{: portrait_x}} {{: portrait_y}}) rotate({{: portrait_rotation}}) scale({{: portrait_scale}})', 
								xlink:href='/upload/images/{{: portrait.name_local}}')
						
							image(width='100%', height='100%', xlink:href='/img/card/card-overlay-{{: rarity.toLowerCase()}}-{{: attribute.toLowerCase()}}.png')

							text(x='-120', y='67', font-size='35', fill='white', text-anchor='end', transform='rotate(-90)')= '{{: character.name_en.toUpperCase()}}'
						svg.w-50.p-0.m-0(version='1.1', baseProfile='full', viewBox='0 0 512 720', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
							image(width='100%', height='100%', xlink:href='/img/card/card-canvas.png')

							image(
								width='{{: background_idolized.width * (720.0 / background_idolized.height)}}', 
								height='720', 
								transform='translate({{: background_idolized_x}} {{: background_idolized_y}}) rotate({{: background_idolized_rotation}}) scale({{: background_idolized_scale}})', 
								xlink:href='/upload/images/{{: background_idolized.name_local}}')
							image(
								width='{{: portrait_idolized.width * (720.0 / portrait_idolized.height)}}', 
								height='720', 
								transform='translate({{: portrait_idolized_x}} {{: portrait_idolized_y}}) rotate({{: portrait_idolized_rotation}}) scale({{: portrait_idolized_scale}})', 
								xlink:href='/upload/images/{{: portrait_idolized.name_local}}')
						
							image(width='100%', height='100%', xlink:href='/img/card/card-overlay-{{: rarity.toLowerCase()}}-{{: attribute.toLowerCase()}}-i.png')

							text(x='-120', y='67', font-size='35', fill='white', text-anchor='end', transform='rotate(-90)')= '{{: character.name_en.toUpperCase()}}'
				div.card-block.py-1.px-2.align-middle
					small= 'by {{: editor.name}}'
					span.float-right
						small #[span.small VOTES] 0

	script.
		$tmpl_card = $('#tmpl_card');
		$cont_card = $('#cont_card');

		$(function () {
			$.getJSON('/api/cards', {
				populate: 'character portrait background portrait_idolized background_idolized editor'
			}).then(docs => {
				console.log(docs);
				$($tmpl_card.render(docs)).appendTo($cont_card);
			});
		});