extends ../base

block main
	div.container.mt-4
		h4 #[small.text-muted.mr-1 #{tag.namespace}:]#{tag.slaves[0]}
		p.text-muted= tag.excerpt
		hr
		
		ul.mb-0
			li #[strong Namespace]: #{format.toPascalCase(tag.namespace)}
			li #[strong Slaves]:
				ul
					for slave in tag.slaves
						li #[small.text-muted.mr-1 #{tag.namespace}:]#{slave}

		a.small.text-muted(href=tag.url + '/edit') edit

		if tag.wiki
			div.mt-2!= sanitizeHtml(marked(tag.wiki))
		