extends ../base

block main
	div.container.mt-4
		a.btn.btn-sm.btn-primary.float-right(href='/tags/create') Add Tag
		h4= title
		hr
		
		div.row
			for tag in tags
				div.col-lg-3.col-md-4.col-sm-6.small.mb-2(style='border-bottom: 1px dotted #E4E6E7;')
					div #[a.tag(href=tag.url)= tag.master] × #{tag.slaves.length}
					div.text-muted(style='height: 39px; overflow: hidden')= tag.excerpt
					div.my-2= tag.namespace
		