extends ../layout

block content
  h1= title

  a.btn.btn-primary(href='/artists/add') Add

  hr

  ul
    each artist in artists
      li
        a(href=artist.url_detail) #{artist.name}
        |  (#[a(href=artist.homepage) #{artist.homepage}]) #[strong #{artist._id}]