extends ../base

block main
	div.container.mt-4
		h2.h5.font-weight-normal= title
		hr

		div.row
			div.col-sm-6.mb-2 Approve or reject edits suggested by #[strong friends]
			div.col-sm-6
				form.float-right(method='post')
					input(name='for', value=edit._id, hidden)
					button.mb-2.mr-2.btn.btn-primary(formaction='?action=approve') Approve
					button.mb-2.mr-2.btn.btn-primary(formaction='?action=reject') Reject
					button.mb-2.mr-2.btn.btn-primary(formaction='?action=skip') Skip

		hr.mt-2

		h3.h6 Introduction Diff
		div.row
			div.col-sm-6
			div.col-sm-6
				em= edit.body.intro

		h3.h6.mt-3 Slave Diff
		div.row
			div.col-md-6
				if tag
					ul
						li xxx

			div.col-md-6 
				h4 #[small.text-muted.mr-1 #{edit.body.namespace}:]#{edit.body.slaves[0]}
				ul
					for slave in edit.body.slaves
						li #[small.text-muted.mr-1 #{edit.body.namespace}:]#{slave}
		
		h3.h6 Wiki Diff
		div.row
			div.col-md-6
			div.col-md-6!= marked(edit.body.markdown)