extends ../base

block main
	div.container.mt-4
		h2.h5.font-weight-normal= 'Tag ' + format.toPascalCase(edit.type)
		hr

		if readonly
			ul.list-unstyled.small
				if edit.status == 'pending'
					li.mb-1 #[span.badge.badge-warning Pending] #[strong= format.datetime(edit.date)]:
				if edit.status == 'approved'
					li.mb-1 #[span.badge.badge-success Approved] #[strong= format.datetime(edit.date_approved)]:
				if edit.status == 'rejected'
					li.mb-1 #[span.badge.badge-danger Rejected] #[strong= format.datetime(edit.date_rejected)]:

				for review in reviews
					li #[a(href=review.reviewer.url)= review.reviewer.name] reviewed this #{format.datetime(review.date)}: 
						strong #{format.toPascalCase(review.action)} !{review.binding&&'&diams;'}
		else
			div.row
				div.col-sm-6.mb-2 Approve or reject edits suggested by #[strong friends]
				div.col-sm-6
					form.float-right(method='post')
						input(name='for', value=edit._id, hidden)
						button.mb-2.mr-2.btn.btn-primary(formaction='?action=approve') Approve
						button.mb-2.mr-2.btn.btn-primary(formaction='?action=reject') Reject
						button.mb-2.mr-2.btn.btn-primary(formaction='?action=skip') Skip
		hr.mt-2

		-
			var one = '', other = edit.body.intro;
			if (tag) one = tag.intro; 
			var diff = jsdiff.diffChars(one, other);
			one = ''; other = '';
			diff.forEach(e => {
				if (e.added) {
					other += '<span class="diff-add">' + e.value + '</span>';
				} else if (e.removed) {
					one += '<span class="diff-remove">' + e.value + '</span>';
				} else {
					one += e.value;
					other += e.value;
				}
			});

		h3.h6 Intro Diff
		div.row
			div.col-sm-6
				if tag
					div!= one
				else
					em Nothing to compare with
			div.col-sm-6
				div!= other

		h3.h6.mt-3 Slave Diff
		div.row
			div.col-md-6
				if tag
					h4 #[small.text-muted.mr-1 #{tag.namespace}:]#{tag.slaves[0]}
					ul
						for slave in tag.slaves
							if (edit.body.slaves.includes(slave))
								li #[small.text-muted.mr-1 #{tag.namespace}:]#{slave}
							else
								li.diff-remove #[small.text-muted.mr-1 #{tag.namespace}:]#{slave}

				else
					em Nothing to compare with

			div.col-md-6 
				h4 #[small.text-muted.mr-1 #{edit.body.namespace}:]#{edit.body.slaves[0]}
				ul
					for slave in edit.body.slaves
						if (tag && tag.slaves.includes(slave))
							li #[small.text-muted.mr-1 #{edit.body.namespace}:]#{slave}
						else
							li.diff-add #[small.text-muted.mr-1 #{edit.body.namespace}:]#{slave}
		
		-
			one = '', other = edit.body.markdown;
			if (tag) one = tag.markdown; 
			diff = jsdiff.diffLines(one, other);
			one = ''; other = '';
			diff.forEach(e => {
				if (e.added) {
					other += '<span class="diff-add">' + e.value + '</span>';
				} else if (e.removed) {
					one += '<span class="diff-remove">' + e.value + '</span>';
				} else {
					one += e.value;
					other += e.value;
				}
			});

		h3.h6 Wiki Diff
		div.row
			div.col-md-6
				if tag
					div!= marked(one)
				else
					em Nothing to compare with
			div.col-md-6!= marked(other)

		div.row
			div.col-sm-6
			div.col-sm-6.text-center.small.text-muted
				span.d-inline-block.text-left
					div proposed #{format.datetime(edit.date)}
					a.d-block(href=edit.editor.url)= edit.editor.name
					div
						strong.mr-2= edit.editor.reputation
						span.mr-1.ubadge-coin.ubadge-coin-gold
						span.mr-2.text-muted= edit.editor.badge_gold
						span.mr-1.ubadge-coin.ubadge-coin-silver
						span.mr-2.text-muted= edit.editor.badge_silver
						span.mr-1.ubadge-coin.ubadge-coin-brozen
						span.text-muted= edit.editor.badge_brozen