extends ../base

block head
	script(src='/vendor/fontawesome/feea410c25.js')

	style.
		.ucard {
			background: #fafafb;
			border: 1px solid #e0e0e0;
			padding: 20px;
		}

block main
	div.container.mt-4
		div.row.mb-4
			div.col-lg-3.mb-3
				div.card(style='box-shadow: inset 0 150px 0 #e7e8ea')
					div.card-block.text-center.pb-4
						span.h3.font-weight-normal.align-middle= format.numeral(user.rep)
						span.small.text-muted.align-middle.ml-1.text-ellip REPUTATION

			div.col-lg-9.mb-3
				div.row
					div.col-md-8.mb-3
						h3.h2= user.name
							if user.is_mod
								span.ml-1 &diams;
						p.h5.font-weight-normal.text-muted= user.title

						div#cont_markdown.mt-3!= sanitizeHtml(marked(user.about_me))

						if (mortal && user._id == mortal._id)
							a(href=user.url + '/edit') edit
					div.col-md-4.mb-3
						div.d-flex.justify-content-between.line-1
							span.d-inline-block
								p.m-0.h6= format.numeral(user.up_votes)
								span.m-0.p-0.small.text-muted up votes
							span.d-inline-block
								p.m-0.h6= format.numeral(user.down_votes)
								span.m-0.p-0.small.text-muted down votes
							span.d-inline-block
								p.m-0.h6= format.numeral(user.edits)
								span.m-0.p-0.small.text-muted edits

						ul#table.list-unstyled.text-muted.mt-3.small(style='line-height: 2')
							li #[i.fa.fa-lg.fa-fw.fa-map-marker] #{user.location}
							if (user.website)
								li #[i.fa.fa-lg.fa-fw.fa-link] #[a(href=user.website)= user.website]
							li #[i.fa.fa-lg.fa-fw.fa-history] Befriended #{format.dateFromNow(user.date)}
							li #[i.fa.fa-lg.fa-fw.fa-eye] #{format.numeral(user.views)} profile views
							li #[i.fa.fa-lg.fa-fw.fa-clock-o] Last seen #{format.dateFromNow(user.active_date)}