extends ../base

block main
	div.pt-4.container
		h2.h4 Artist Profile
			if query.for
				small.text-muted.ml-2 #[em for] #{query.for}

		hr

		form(method='post')
			div.row
				div.col-md-3.mt-4
					div.form-group
						label Avatar
						if artist.avatar
							img.mb-3.img-thumbnail.d-block.mx-auto(src='/upload/images/' + artist.avatar.name_local)
						input.form-control(type='text', name='avatar', value=artist.avatar?artist.avatar._id:'')

				div.col-md-9.mt-4
					div.form-group
						label Name
						input.form-control(type='text', name='name', value=artist.name)
					div.form-group
						label Homepage
						input.form-control(type='text', name='homepage', value=artist.homepage)
					div.form-group
						label Introduction
						textarea.form-control(name='intro')= artist.intro
					button.btn.btn-success(type='submit') Post Profile

block foot
	script.
		$("textarea").keyup(function(e) {
			while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
				$(this).height($(this).height()+1);
			};
		});