extends ../base

block main
	div.pt-4.container
		a.btn.btn-primary.float-right.hidden-xs-down.small(href='/characters/editor?for=' + character._id) Edit Profile
		
		h2 #{character.name_zh} #[small.text-muted - #{character._id}]
		hr

		div.row.align-items-center
			if (character.avatar)
				div.col-md-4
					img.img-fluid.rounded.mb-3(src='/upload/images/' + character.avatar.name_local)
			div.col-md-8
				h3.h5 Profile
				table.table-sm
					tbody
						tr
							td.font-weight-bold Japanese Name
							td= character.name_jp
						tr
							td.font-weight-bold Chinese Name
							td= character.name_zh
						tr
							td.font-weight-bold English Name
							td= character.name_en
						tr
							td.font-weight-bold Age
							td= character.age
						tr
							td.font-weight-bold Race
							td= character.race
						tr
							td.font-weight-bold Residence
							td= character.residence
						tr
							td.font-weight-bold Profession
							td= character.profession

		div#cont_markdown


block foot
	script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')

	script#markdown(type='text/x-markdown')= character.markdown

	script.
		$markdown = $('#markdown');
		$cont_markdown = $('#cont_markdown');

		$(function() {
			marked.setOptions({
				highlight: code => hljs.highlightAuto(code).value,
				langPrefix:'hljs '
			});

			$cont_markdown.html(marked($markdown.html()));
		});