extends ../base

block head
	link(rel='stylesheet', href='/vendor/highlight.js/monokai-kailang.css')

	style.
		#markdown {
			font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
		}

block main
	div.pt-4.container
		h2.h4 Character Profile
			if query.for
				small.text-muted.ml-2 #[em for] #{query.for}

		hr

		form(method='post')
			div.row
				div.col-md-3.mt-4
					div.form-group
						label Avatar
						if character.avatar
							img.mb-3.img-thumbnail.d-block.mx-auto(src='/upload/images/' + character.avatar.name_local)
						input.form-control(type='text', name='avatar', value=character.avatar?character.avatar._id:'')

				div.col-md-9.mt-4
					div.form-group
						label Chinese Name
						input.form-control(type='text', name='name_zh', value=character.name_zh)
					div.form-group
						label Japanese Name
						input.form-control(type='text', name='name_ja', value=character.name_ja)
					div.form-group
						label Japanese RÅmaji
						input.form-control(type='text', name='name_ja_romaji', value=character.name_ja_romaji)
					div.form-group
						label English Name
						input.form-control(type='text', name='name_en', value=character.name_en)

					div.form-group
						label Age
						input.form-control(type='text', name='age', value=character.age)
					div.form-group
						label Race
						input.form-control(type='text', name='race', value=character.race)
					div.form-group
						label Residence
						input.form-control(type='text', name='residence', value=character.residence)
					div.form-group
						label Profession
						input.form-control(type='text', name='profession', value=character.profession)

			hr

			div.row
				div.col-lg-6
					div.form-group
						label Profile
							a.ml-2(href='https://guides.github.com/features/mastering-markdown/', rel="noopener noreferrer" target="_blank") Markdown Guild
						textarea#markdown.form-control(name='markdown')= character.markdown

					button.btn.btn-primary(type='submit') Post Profile
				div.col-lg-6
					div#cont_markdown

block foot
	script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')

	script.
		$markdown = $('#markdown');
		$cont_markdown = $('#cont_markdown');

		$(function() {
			marked.setOptions({
				highlight: code => hljs.highlightAuto(code).value,
				langPrefix:'hljs '
			});
		});

		$(document).delegate('#markdown', 'keydown', function(e) {
			var keyCode = e.keyCode || e.which;

			if (keyCode == 9) {
				e.preventDefault();
				var start = this.selectionStart;
				var end = this.selectionEnd;

				// set textarea value to: text before caret + tab + text after caret
				$(this).val($(this).val().substring(0, start) + '  ' + $(this).val().substring(end));

				// put caret at right position again
				this.selectionStart = this.selectionEnd = start + 2;
			}
		});

		$('#markdown').keyup(function(e) {
			$cont_markdown.html(marked($markdown.val()));

			while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css('borderTopWidth')) + parseFloat($(this).css('borderBottomWidth'))) {
				$(this).height($(this).height() + 1);
			};
		});